 .container{
     display:grid;
     grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
     grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
     width:800px;
   }
   .black{
     background-color:#2373eb;
     width:100px;
     height:100px;
   }
   .white{
     background-color:#2bf4ff;
     width:100px;
     height:100px;
   }